*{
    padding: 0;
    margin: 0;
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Amatic SC', cursive;
    user-select: none;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/ejemplo2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 101%; 

   
}
header{
    width: 100%;
    height: 150px;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.logo1 {
    position: absolute;
    width: 3.2em;
    height: 3.8em;
    margin-left: 15px;
    margin-top: -35px;
    cursor: pointer;
    

}
.logo1 img {
    width: 100%;
    height: 100%;
}
header h1 {
    width: 100%;
    font-size: 7em;
    color: #fff;
}
.botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;

}

.botones button{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    font-size: 1.8em;
    margin-top: 15px;
    
}
.btn1, .btn2 {
    background-color: #000;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}



.footerpage{
    position: absolute;
    color: hsl(0, 0%, 90%);
    width: 98%;
    height: auto;
    display: flex;
    bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6em;
    opacity: .7;
    flex-direction: column;

}
.footerpage h2 {
    text-align: center;
    width: auto;
    letter-spacing: 1px;
    font-size: 1.4em;
}
.footerpage
.contacto{
    margin-top: 5px;
    width: 100%;
    height: auto;
    text-align: center;
}
.contacto h3{
    font-size: 1.2em;
}
.contacto a{
    margin-left: 10px;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    width: auto;
    background-color: #000;
}
.contacto a:hover{
    color: #000;
    box-shadow: 0px 0px 5px #fff;
    background-color: #fff;
    
}





/*--------------------------------------------*/

.container2 {
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/secretooriginal.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none;
}

.container2 h1{
    margin-top: -10px;
    font-size: 7em;
}
.container2 .texto{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 20px;
}
.container2 .texto label{
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-size: 1.5em;
}
.texto input {
    height: 40px;
    width: 300px;
    font-size: 1.5em;
    text-align: center;
    border-style: none;
    border: 3px solid #ab1417;
    border-radius: 10px;
}
.texto input::placeholder{
    color: #000;
}
.texto input:focus{
   outline: none;
   border: 3px solid #ff8134;
}
.texto input:focus::placeholder {
    color: #ab1417;
}
.texto input:active {
    outline: none;

}
.botonesc2{
    display: flex;
    width: 98%;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
    margin-top: -20px;
}
.botonesc2 button{
    margin: 10px;
    padding: 0.5em;
    font-size: 1.5em;
    color: #fff;
    background-color: #000;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}


/*--------------------------------------------------------*/
.containercanvas{
    background-image: url(imagenes/fondocanva.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    display: none;

    
}
.containercanvas header{
    width: 100%;
   
}

.containercanvas h1{
    position: absolute;
    top: 0px;
    font-size: 6.5em;
}
.canva{
    margin-top: -10em;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    display: none;
    
}
.canva canvas{
    width: 20em;
    height: 100%;
}
.bloque{

    width: 99%;
    margin-right: 1%;
    margin-top: -7em;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center ;
}
.responsive{
    width: 100%;
    background: transparent;
    border-style: none;
    color: transparent;
    text-align: center;
    margin-top: -2em;
    height: 70px;
    font-size: 3em;
}
.responsive:active{
    outline: none;
    background: transparent;
    color: transparent;
}
.responsive:focus{
    outline: none;
    color: transparent;
    background: transparent;
}
.containerword span{
    width: 50px;
    height: auto;
    border-bottom: 3px solid #fff;
    margin-right: 10px;
    font-size: 3em;
    font-weight: bold;
}
span:first-child{
    margin-left: 10px;
}
.containerword{
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    height: auto;
    margin-top: -90px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}.letter {
    color: #fff;
}
.hidden {
    color:transparent ;
}

.usedLetters {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 30px;
}
.botonescanvas{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: -26em;
    margin-right: 2em;
    height: auto;
    align-items: center;
    text-align: center;
}
.botonescanvas button{
    width: auto;
    height: auto;
    padding: 0.2em 0.5em;
    background-color: #000;
    border: 3px solid #fff;
    color: #fff;
    font-size: 2em;
    margin: 0.5em 0;
    cursor: pointer;
    border-radius: 10px;
}
.botonescanvas .desistir, .botonescanvas .cancelar2{
    padding: 0.2em 1em; 
}





/*////////////////////////////////////////////////////*/
.containerfin{
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/perdiste.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.containerfintexto{
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30em;
    padding-top: 5em;
    margin-left: 1%;
    margin-right: 2%;
}
.respuesta{
    width: 100%;
    text-align: center;
    margin-top: -0.5em;
    margin-bottom: 1em;
}
.respuesta h2{
    font-size: 2.4em;
    color: #fff;
}
.respuesta h3{
    font-size: 2.4em;
    color: #fff;
}
.botoncfin{
    width: 100%;
    margin-top: 2%;
}
.botonescfin button{
    width: auto;
    height: auto;
    padding: 5px 15px;
    background-color: #000;
    border: 3px solid #fff;
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}


/*/////////////////////////////////////////////////////*/

.containergane{
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/win.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none;
    
}
.containergane .logo1{
    margin-left: 12px;
    margin-top: -50px;
}

.containergane .respuesta {
    width: 100%;
    height: auto;
    letter-spacing: 2px;
    display: flex;
    font-size: 1.5em;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: -0.5em;
}
.botonesgane {
    text-align: center;
    margin-top: -1.5em;
}
.botonesgane button{
    width: auto;
    height: auto;
    padding: 5px 15px;
    background-color: #000;
    border: 3px solid #fff;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}
/*/////////////////////////////////////////////*/


@media only screen and (max-width:257px){
    .container{
        background-image: url(imagenes/responsiveIngreso4.jpg);
        background-origin: content-box;
    }
    .logo1{
        display: none;
    }
    header h1{
        font-size: 5em;
        margin-top: -0.6em;
    }
    .botones{
        display: flex;
        width: 96%;
        flex-direction: row;
        margin: 0px;
        flex-wrap: wrap;
        margin-top: 15.6em;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: center;
    }
 
    .botones button{
        padding: 0.6em;
        font-size: 1.2em;
        width: 90%;
        height: 50px;
        margin-top: 2%;
    }
    .footerpage{
        margin-bottom: 0.7em;
       
    }
    .footerpage h2{
        margin: 0;
        font-size: 1.1em;
        width: 100%;
    }
    .footerpage .contacto{
        display: none;
        
    } 
    .container2{
        background-image: url(imagenes/secretoresponsive7.jpg);
        background-origin: content-box;
    }
    .container2 h1 {
        font-size: 5em;
        margin-top: -0.6em;
    }
    .container2 .texto{
        margin: 0;
        margin-top: -3.5em;
    }
    .container2 .texto label{
        font-size: 1.3em;
    }
    .texto input{
        width: 80%;
        font-size: 1.3em;
    }
    .botonesc2{
        display: flex;
        width: 98%;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0px;
        margin-left: 1%;
        margin-right: 1%;
        justify-content: center;
    }
    .botonesc2 button{
        margin: 0.2em 2px;
        padding: 0.3em;
        font-size: 1.2em;
        width: 80%;
        height: 50px;
    }
    .botonesc2 .btncancelar{
        margin-top: 13.5em;
        width: 50%;
        padding: 0;
    }

    .containerfin{
        background-image: url(imagenes/perdiste6.jpg);
        background-size: 100% 100%;
    
    }
    .containerfin h1 {
        font-size: 5em;
        margin-top: -0.4em;
    }
    .containerfintexto{
        padding-top: 0em;
        padding-left: 0em;
        margin-top: 1em;
    }
    .respuesta{
        width: 100%;
        margin-top: 12em;
        margin-bottom: 0.2em;
    }
    .containerfin .respuesta h2 {
        display: none;
    }
    .respuesta h3 {
        font-size: 1.4em;
    }
    .botonescfin{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .botonescfin button {
        width: 90%;
        text-align: center;
        font-size: 1.2em;
        padding: 0.2em 0.4em;
        margin: 1% 1%;
    }
    .botonescfin .btncancelarfin{
        width: 32%;
        margin: 0;
    }

    /*---------------------------------------*/
    .containergane{
        background-image: url(imagenes/responsive5.jpg);
        background-size: 100% 100%;
    }
    .containergane .respuesta h2 {
        font-size: 1.2em;
        margin-top: -0.6em;
        margin-bottom: 8.5em;
    }
    .botonesgane button {
        width: 70%;
        font-size: 1.4em;
    }
}

@media only screen and (min-width:258px) and (max-width:319px){
    .container{
        background-image: url(imagenes/responsiveIngreso4.jpg);
        background-origin: content-box;
    }
    .logo1{
        display: none;
    }
    header h1{
        font-size: 5em;
        margin-top: -0.5em;
    }
    .botones{
        display: flex;
        width: 96%;
        flex-direction: row;
        margin: 0px;
        flex-wrap: wrap;
        margin-top: 14.6em;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: center;
    }
 
    .botones button{
        padding: 0.6em;
        font-size: 1.2em;
        width: 90%;
        height: 50px;
        margin-top: 2%;
    }
    .footerpage{
        margin-bottom: 0.7em;
    }
    .footerpage h2 , .footerpage h3{
        margin: 0;
        font-size: 1em;
        width: 100%;
    }
    .footerpage a {
        margin: 0;
        margin: 0px 1px;
    
    }
    .footerpage .contacto{
        width: 100%;
        
    }
    .container2{
        background-image: url(imagenes/secretoresponsive7.jpg);
        background-origin: content-box;
    }
    .container2 h1 {
        font-size: 5em;
        margin-top: -0.5em;
    }
    .container2 .texto{
        margin: 0;
        margin-top: -3.2em;
    }
    .container2 .texto label{
        font-size: 1.3em;
    }
    .texto input{
        width: 80%;
        font-size: 1.3em;
    }
    .botonesc2{
        display: flex;
        width: 98%;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0px;
        margin-left: 1%;
        margin-right: 1%;
        justify-content: center;
    }
    .botonesc2 button{
        margin: 0.2em 2px;
        font-size: 1.2em;
        width: 80%;
        height: 50px;
    }
    .botonesc2 .btncancelar{
        margin-top: 12em;
        width: 40%;
        padding: 0px 0px;
    }

    .containerfin{
        background-image: url(imagenes/perdiste5.jpg);
        background-size: 100% 100%;
    
    }
    .containerfin h1 {
        font-size: 5em;
        margin-top: -0.3em;
    }
    .containerfintexto{
        padding-top: 0em;
        padding-left: 0em;
        margin-top: 3em;
    }
    .respuesta{
        width: 100%;
        margin-top: 11em;
        margin-bottom: 0.2em;
    }
    .containerfin .respuesta h2 {
        display: none;
    }
    .respuesta h3 {
        font-size: 1.7em;
    }
    .botonescfin{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .botonescfin button {
        width: 59%;
        text-align: center;
        font-size: 1.2em;
        padding: 0.2em 0.4em;
        margin: 0 1%;
    }
    .botonescfin .btncancelarfin{
        width: 29%;
        margin: 0;
    }


     /*---------------------------------------*/
     .containergane{
        background-image: url(imagenes/responsive5.jpg);
        background-size: 100% 100%;
    }
    .containergane .respuesta h2 {
        font-size: 1.3em;
        margin-top: -0.6em;
        margin-bottom: 8.5em;
    }
    .botonesgane button {
        width: 70%;
        font-size: 1.5em;
    }
}


@media only screen and (min-width:320px) and (max-width:383px){
    .container{
        background-image: url(imagenes/responsiveIngreso4.jpg);
        background-origin: content-box;
    }
    .logo1{
        display: none;
    }
    header h1{
        font-size: 5em;
        margin-top: -0.5em;
    }
    .botones{
        display: flex;
        width: 96%;
        flex-direction: row;
        margin: 0px;
        flex-wrap: wrap;
        margin-top: 14em;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: center;
    }
 
    .botones button{
        padding: 0.6em;
        font-size: 1.2em;
        width: 90%;
        height: 50px;
        margin-top: 2%;
    }
    .footerpage{
        margin-bottom: 0.6em;
    }
    .footerpage h2 , .footerpage h3{
        font-size: 1.2em;
    }
    .container2{
        background-image: url(imagenes/secretoresponsive6.jpg);
        background-origin: content-box;
    }
    .container2 h1 {
        font-size: 6em;
        margin-top: -0.5em;
    }
    .container2 .texto{
        margin: 0;
        margin-top: -3em;
    }
    .container2 .texto label{
        font-size: 1.3em;
    }
    .texto input{
        width: 80%;
        font-size: 1.3em;
    }
    .botonesc2{
        margin: 0;
    }
    .botonesc2 button{
        padding: 0.3em;
    }

    .containerfin{
        background-image: url(imagenes/perdiste4.jpg);
        background-size: 100% 100%;
    
    }
    .containerfin h1 {
        font-size: 6em;
        margin-top: -0.3em;
    }
    .containerfintexto{
        padding-top: 0em;
        padding-left: 0em;
        margin-top: 1em;
    }
    .respuesta{
        width: 100%;
        margin-top: 12em;
        margin-bottom: 0em;
    }
    .containerfin .respuesta h2 {
        display: none;
    }
    .respuesta h3 {
        font-size: 2em;
    }
    .botonescfin{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .botonescfin button {
        width: 59%;
        text-align: center;
        font-size: 1.4em;
        margin: 1% 1%;
    }
    .botonescfin .btncancelarfin{
        width: 29%;
    }

    /*---------------------------------------*/
    .containergane{
        background-image: url(imagenes/responsive3.jpg);
        background-size: 100% 100%;
    }
    .containergane .respuesta h2 {
        font-size: 1.5em;
        margin-top: -0.6em;
        margin-bottom: 7.5em;
    }
    .botonesgane button {
        width: 55%;
    }


    
    /*-----------------------------------------------------*/
    .containercanvas h1{
        margin-top: 0em;
        font-size: 5em;
    }
    .canva{
        margin-top: -10em;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        display: none;
        
    }
    .containerword{
        margin-top: -6em;
        margin-bottom: 0px;
    }
    .containerword span {
        font-size: 2em;
        
    }
    .usedLetters{
        font-size: 2.2em;
        margin-top: -0.4em;
        
    }
    .botonescanvas{
        position: relative;
        flex-direction: row;
        margin: -3.5em 0em 0em 0em;
    }
    .botonescanvas button{
        width: 5em;
        font-size: 1.5em;
    }
    .botonescanvas .cancelar2 {
        display: none;
    }
    .botonescanvas .desistir{
        margin-left: 0.4em;
        margin-right: 5em;
    }
    .botonescanvas .nuevo {
        margin-right: 0.4em;
    }
}


@media only screen and (min-width:384px) and (max-width:479px){
    .container{
        background-image: url(imagenes/responsiveIngreso3.jpg);
        background-origin: content-box;
    }
    .logo1{
        display: none;
    }
    header h1{
        font-size: 6.5em;
    }
    .botones{
        display: flex;
        width: 96%;
        flex-direction: row;
        margin: 0px;
        margin-top: 17.4em;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: center;
    }
    .botones button{
        width: 44%;
        padding: 0.6em;
        font-size: 1.3em;
        margin: 0 1%;
    }
    .container2{
        background-image: url(imagenes/secretoresponsive5.jpg);
        background-origin: content-box;
    }
    .container2 h1{
        font-size: 6.5em;
        margin-top: -0.3em;
    }
    .container2 .texto{
        margin-top: -2em;
    }
    .container2 .botonesc2{
        margin-top: -1.6em;
    }

    .containerfin{
        background-image: url(imagenes/perdiste4.jpg);
        background-size: 100% 100%;
    
    }
    .containerfin h1 {
        font-size: 6.5em;
        margin-top: -0.3em;
    }
    .containerfintexto{
        padding-top: 0em;
        padding-left: 0em;
        margin-top: 1em;
    }
    .respuesta{
        width: 100%;
        margin-top: 12em;
        margin-bottom: 0em;
    }
    .containerfin .respuesta h2 {
        display: none;
    }
    .respuesta h3 {
        font-size: 2em;
    }
    .botonescfin{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .botonescfin button {
        width: 60%;
        text-align: center;
        font-size: 1.4em;
        margin: 1% 1%;
    }
    .botonescfin .btncancelarfin{
        width: 25%;
    }

    /*---------------------------------------*/
    .containergane{
        background-image: url(imagenes/responsive3.jpg);
        background-size: 100% 100%;
    }
    .containergane .respuesta h2 {
        font-size: 2em;
        margin-top: -0.6em;
        margin-bottom: 5.5em;
    }
    .botonesgane button {
        width: 55%;
    }


    
    /*-----------------------------------------------------*/
    .containercanvas h1{
        font-size: 5.5em;
    }
    .canva{
        margin-top: -10em;
        width: 99%;
        margin-right: 1em;
        height: 300px;
        display: flex;
        justify-content: center;
        display: none;
        
    }
    .containerword{
        margin-top: -6em;
        margin-bottom: 0px;
    }
    .containerword span {
        font-size: 2em;
        
    }
    .usedLetters{
        font-size: 2em;
        margin-top: -0.5em;
        
    }
    .botonescanvas{
        margin-right: 0.5em;
    }
    .botonescanvas button{
        width: 5em;
        font-size: 1.5em;
    }

}


@media only screen and (min-width:480px) and (max-width:569px){
    .container{
        background-image: url(imagenes/responsiveIngreso2.jpg);
        background-origin: content-box;
    }
    .botones{
        display: flex;
        width: 96%;
        flex-direction: row;
        margin: 0px;
        margin-top: 17em;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: center;
    }
    .botones button{
        width: 50%;
        padding: 0.7em;
        font-size: 1.3em;
        margin: 0 1%;
    }
    .container2{
        background-image: url(imagenes/secretoresponsive4.jpg);
        background-origin: content-box;
    }



    /*-----------------------------------------------------*/
    .containercanvas h1{
        font-size: 5.5em;
    }
    .canva{
        margin-top: -10em;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        display: none;
        
    }
    .containerword{
        margin-top: -6em;
        margin-bottom: 0px;
    }
    .containerword span {
        font-size: 2em;
        
    }
    .usedLetters{
        font-size: 2em;
        margin-top: -0.5em;
        
    }
    .botonescanvas{
        margin-right: 0.5em;
    }
    .botonescanvas button{
        width: 5em;
        font-size: 1.5em;
    }


    /*-----------------------------------------------------*/

    .containerfin{
        background-image: url(imagenes/perdiste3.jpg);
        background-size: 100% 100%;
    
    }
    .containerfintexto{
        padding-top: 0em;
        padding-left: 16em;
    }
    .containerfin .respuesta h2 {
        display: none;
    }
    .respuesta h3 {
        font-size: 2.4em;
    }
    .botonescfin{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .botonescfin button {
        width: 80%;
        font-size: 1.5em;
        margin: 2% 0;
    }

     /*---------------------------------------*/
     .containergane{
        background-image: url(imagenes/responsive2.jpg);
        background-size: 100% 100%;
    }
    .containergane .respuesta h2 {
        font-size: 2em;
        margin-top: -0.2em;
        margin-bottom: 5em;
    }
   
}

@media only screen and (min-width:570px) and (max-width:699px){
    .container{
        background-image: url(imagenes/responsiveIngreso.jpg);
        background-size:100% 100%;
    }
    .botones{
        margin-left: 0.1em;
    }
    .container2{
        background-image: url(imagenes/secretoresponsive3.jpg);
        background-origin: content-box;
    }
    .containerfin{
        background-image: url(imagenes/perdiste2.jpg);
        background-size: 100% 100%;
    
    }
    .containerfintexto{
        padding-top: 0.5em;
        padding-left: 21em;
    }
    .containerfintexto .respuesta h2 {
        display: none;
    }
    .respuesta h3 {
        font-size: 2.7em;
    }
    .botonescfin{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .botonescfin button {
        width: 90%;
        margin: 2% 0;
    }
    


    /*---------------------------------------*/
    .containergane{
        background-image: url(imagenes/responsive2.jpg);
        background-size: 100% 100%;
    }
    .containergane .respuesta h2 {
        font-size: 2em;
        margin-top: -0.2em;
        margin-bottom: 5em;
    }
   
}


@media only screen and (min-width:700px) and (max-width:800px){
.container{
    background-image: url(imagenes/hasta799.jpg);
    background-origin: content-box;
}
header h1 {
    font-size: 6.5em;
}
.botones button{
    font-size: 1.5em;
    width: 180px;
}
.container2{
    background-image: url(imagenes/secretoresponsive2.jpg);
    background-origin: content-box;
}

/*----------------------------------------------------------------*/
.containerfin{
    background-image: url(imagenes/perdiste2.jpg);
    background-size: 100% 100%;
}
.containerfintexto{
    margin-top: -4em;
    padding-top: 0em;
    padding-left: 25em;
}
.botonescfin{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.botonescfin button {
    width: 80%;
    margin: 2% 0;
}


/*-------------------------------*/
.containergane{
    background-image: url(imagenes/responsive.jpg);
    background-size: 100% 110%;
}
.containergane .respuesta h2 {
    font-size: 1.6em;
    margin-bottom: 6.8em;
}
}

@media only screen and (min-width:801px) and (max-width:930px){
    .container{
        background-image: url(imagenes/ejemplo.jpg);
        background-size: 100% 100%;
    }
    .botones{
        margin-top: 1em;
    }
    .container2{
        background-image: url(imagenes/secretoresponsive.jpg);
        background-size: 100% 100%;
    }
    /*----------------------------------------------------------------*/
    .containerfintexto{
        margin-right: 1%;
        padding-left: 26em;
        margin-top: -2em;
    }
}